<md-card class="card-nueva-novedad md-primary" layout="row" layout-xs="column" ng-hide="vmp.filter">
    <span id="label">
        Nueva bonificacion
    </span>
    <md-auto-complete-empleados
            empleados="vm.empleados"
            selected-empleado="vm.bonificacion.empleado"
            search-text="vm.search_text"
            placeholder="Empleado"
            flex="30" flex-xs="100">
    </md-auto-complete-empleados>
    <md-card layout="row" class="inline-input">
        <span>Valor ($)</span>
        <md-input-container md-no-float>
            <input type="number"
                   ng-model="vm.bonificacion.valor"
                   ng-disabled="!vm.bonificacion.empleado"
                   ng-enter="vm.save(vm.bonificacion)"
                   placeholder="0">
        </md-input-container>
        <md-button class="md-icon-button md-primary" aria-label="cancel"
                   ng-click="vm.showModalCalcular($event, vm.bonificacion)"
                   ng-disabled="!vm.bonificacion.empleado">
            <md-icon md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
            <md-tooltip>
                Calcular Por remplazo
            </md-tooltip>
        </md-button>
    </md-card>
    <md-button class="md-raised md-accent"
               ng-disabled="!vm.bonificacion.valor"
               ng-click="vm.save(vm.bonificacion)"
               id="btn-guardar">
        Guardar
    </md-button>
</md-card>
<md-table-container>
    <table md-table md-progress="vm.promise">
        <thead md-head md-order="vmp.query.order">
        <tr md-row>
            <th md-column>Cedula</th>
            <th md-column md-order-by="empleado.apellidos">Nombre</th>
            <th md-column md-numeric md-order-by="empleado.salario">Salario</th>
            <th md-column md-order-by="valor">Bonificacion</th>
            <!--<th md-column></th>-->
        </tr>
        </thead>
        <tbody md-body class="overflow-hidden">
        <tr md-row
            ng-repeat="bonificacion in vm.bonificaciones | filter:vmp.query.filter | orderBy: vmp.query.order"
            ng-mouseover="showClose = true">
            <td md-cell>{{::bonificacion.empleado.cedula}}</td>
            <td md-cell>{{::bonificacion.empleado.apellidos}} {{::bonificacion.empleado.nombre}}</td>
            <td md-cell>{{::bonificacion.empleado.salario | currency:"$":0}}</td>
            <td md-cell>
                <div class="td-bonificaciones padding-0" layout="row">
                    <div class="input-edit md-accent" ng-click="vm.edit($event, bonificacion)" md-cell flex layout="row">
                        <span flex>{{bonificacion.valor | currency:"$":0}}</span>
                        <md-button class="md-icon-button md-accent table-button" aria-label="cancel">
                            <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                        </md-button>
                        <md-tooltip>
                            Editar valor
                        </md-tooltip>
                    </div>
                    <md-button class="md-icon-button md-primary table-button" aria-label="cancel"
                               ng-click="vm.showModalCalcular($event, bonificacion)">
                        <md-icon md-font-icon="zmdi zmdi-accounts-alt"></md-icon>
                        <md-tooltip>
                            Calcular Por remplazo
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button md-warn table-button" aria-label="cancel"
                               ng-click="vm.delete($event, bonificacion, $index)">
                        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                        <md-tooltip>
                            Eliminar
                        </md-tooltip>
                    </md-button>
                </div>
            </td>
        </tr>
        <tr md-row ng-if="vm.bonificaciones.length <= 0">
            <td md-cell colspan="4">
                <div flex class="inbox-no-email-selected" layout="column" layout-align="center">
                    <h2>No se han guardado ninguna bonificación, en el periodo actual</h2>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
