.input-edit {
  cursor: pointer;
  align-items: center;
}

.table-button {
  margin: 0 !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 20px !important;
  visibility: hidden;
}

.md-row:hover .table-button {
  visibility: visible;
}

#card-nueva-bonificacion {
  background-color: rgb(14,81,160);

  #label{
    font-size: 1.9rem;
    margin-right: 0.7rem;
    color: white;
    white-space: nowrap;
    line-height: 40px;
  }

  .inline-input {

    margin: 0px 8px !important;
    line-height: 40px;
    padding: 0 15px;
    white-space: nowrap;
    max-height: 40px;

    md-input-container{
      margin: 0;
      padding: 0;
    }

    input {
      font-size: 1.6rem;
      //box-sizing: border-box;
      //border: none;
      //outline: none;
      //background: transparent;
      width: 8rem;
      height: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: 0.7rem;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }

  #btn-guardar-bonificacion {
    margin: 2px 0;
    height: 36px;
  }
}