<md-button ng-click="vm.addTodo($event)" class="md-fab md-accent md-fab-bottom-right"
           aria-label="addUser">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    <md-tooltip md-direction="top">
        Crear usuario
    </md-tooltip>
</md-button>
<md-button ng-click="vm.sync($event)" class="md-fab md-accent md-fab-bottom-right margin-right-80"
           aria-label="addUser">
    <md-icon md-font-icon="zmdi zmdi-refresh-sync"></md-icon>
    <md-tooltip md-direction="top">
        Sincronizar empleados
    </md-tooltip>
</md-button>
